# Игнорировать файлы и папки VS Code
   .vscode/
   
   # Игнорировать временные файлы
   *.log
   *.tmp
   *.cache
   
   # Игнорировать зависимости, если они появятся
   node_modules/
   
   # Игнорировать macOS файлы
   .DS_Store

   .DS_Store
node_modules/
dist/
*.log.DS_Store
# icons/
edge.env
